
input[type=text]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly]) + label {
 color: #29b6f6;
}

.input-field input[type=text]:focus,
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #29r6f6;
  box-shadow: 0 1px 0 0 #29f6f6;
}


.dropdown-content li>a, .dropdown-content li>span {
  color: #29c6f6;
}
